<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>

    <% for(var i = 0; i < chapter.images.length; i++) {%>
        <img src="<%= chapter.images[i] %>" width="100%" height="100%"/>
    <%}%>

  </body>
</html>
